{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-primary p-3">
                <h1>Connectez-vous !</h1>
                {% if error %}
                    <div class="alert alert-danger">L'adresse email ou le mot de passe que vous avez entré est incorrecte.</div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control"
                            placeholder="Adresse email ..." required value="{{last_username}}">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe ..."
                            class="form-control" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-lg btn-success">Je me connecte !</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}