{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des reservations{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gerer une reservations</h1>
    {{form(form)}}
</div>
{% endblock %}