<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymfoBNB - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "includes/navbar.html.twig" %}
        {% block body %}{% endblock %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>