{% extends 'base.html.twig' %}

{% block title %} Edition d'une annonce
{% endblock %}

{% block body %}

{# Call the theme #}
{% form_theme form 'ad/_collection.html.twig' %}

<div class="container">
    <h1> Modifiez l'annonce "<strong>{{ ad.title }}</strong>" </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Modifier l'annonce </button>

    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
<script src="/js/ad.js"></script>
{% endblock javascripts %}